@page "/"

@using KalkulatorKredytuHipotecznego.Store
@using KalkulatorKredytuHipotecznego.Store.States
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<Tabs Justified="true" SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
    <Items>
        <Tab Name="propertyAcquisitionDetails">Kosztu nabycia nieruchomości</Tab>
        <Tab Name="basicDetails">Podstawowe dane o kredycie</Tab>
        <Tab Name="additionalCosts">Koszty okołokredytowe</Tab>
    </Items>
    <Content>
        <TabPanel Name="propertyAcquisitionDetails">
            <PropertyAcquisitionDetails></PropertyAcquisitionDetails>
        </TabPanel>
        <TabPanel Name="basicDetails">
            <BasicDetails></BasicDetails>
        </TabPanel>
        <TabPanel Name="additionalCosts">
            <AdditionalCosts></AdditionalCosts>
        </TabPanel>
    </Content>
</Tabs>

<Container>
    <Button Color="Color.Primary" Clicked="@OnCalculateButtonClicked">Policz</Button>
</Container>

<Container>
    <Schedule Installments="State.Value.ScheduleInstallmentDetails" ></Schedule>
</Container>
