@page "/counter"

<div class="flex">
    <div class="w-[250px] bg-slate-900 p-6">
        <NavMenu />
    </div>

    <main class="flex flex-col flex-grow">
        <div class="bg-slate-700 p-4 text-right shadow-lg">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="p-4">
        </article>
    </main>
</div>
