name: Update Wibor Rates

on:
  push:
    paths: ".github/workflows/update_wibor_rates.yml"
  schedule:
  - cron : "0 12 * * *"

jobs:
  Update:
    runs-on: ubuntu-latest
    steps:
    
    - name: Event
      run: echo '${{ toJSON(github) }}'
    
    - name: Download runner
      uses: dawidd6/action-download-artifact@v2
      with:
        github_token: ${{secrets.GITHUB_TOKEN}}
        workflow: wibor_scrapper_build.yml
        workflow_conclusion: success
        
    - name: Download Wibor Data
      continue-on-error: true
      uses: dawidd6/action-download-artifact@v2
      with:
        github_token: ${{secrets.GITHUB_TOKEN}}
        workflow: update_wibor_rates.yml
        workflow_conclusion: success
        
    - name: Check Wibor Data
      run: | 
           test -d ./WiborData && echo "WiborData exists" || mkdir -m 777 WiborData
           test -f ./WiborData/PLOPLN3M.csv && echo "PLOPLN3M exists" || (touch ./WiborData/PLOPLN3M.csv && chmod 777 $_)
           test -f ./WiborData/PLOPLN6M.csv && echo "PLOPLN6M exists" || (touch ./WiborData/PLOPLN6M.csv && chmod 777 $_)
    - name: Update Executable Permissions
      working-directory: ./WiborRunnerExecutable
      run: chmod 777 Wibor.Scrapper.Runner
      
    - name: Set TO Parameter
      run: echo "TO=$(date +%Y-%m-%d)" >> $GITHUB_ENV

    - name: Set FROM Parameter
      uses: actions/github-script@v6.0.0
      with:
        # The script to run
        script: |
                const run = await github.rest.actions.listWorkflowRuns({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  workflow_id: "update_wibor_rates.yml",
                  status:"success",
                  per_page:1
                });
                core.exportVariable('FROM', run.data.workflow_runs[0].updated_at);
    
    - name: Override Parameters
      if: github.event.schedule === null
      run: |
           rm ./WiborData/PLOPLN6M.csv
           rm ./WiborData/PLOPLN3M.csv
           echo "FROM=1990-01-01" >> $GITHUB_ENV
    
    - name: Test Parameters
      run: echo $FROM $TO

    - name: Update PLOPLN3M
      run: |
           ./WiborRunnerExecutable/Wibor.Scrapper.Runner $FROM $TO "PLOPLN3M" >> ./WiborData/PLOPLN3M.csv
           
    - name: Update PLOPLN6M
      run: |
           ./WiborRunnerExecutable/Wibor.Scrapper.Runner $FROM $TO "PLOPLN6M" >> ./WiborData/PLOPLN6M.csv
           
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.0.0
      with:
        name: WiborData
        path: ./WiborData/
        retention-days: 10
        
    - name: Upload To Blob Storage 
      uses: bacongobbler/azure-blob-storage-upload@main
      with:
        source_dir: ./WiborData
        container_name: wibor
        connection_string: ${{ secrets.BLOBCONNECTIONSTRING }}
        overwrite: true

